@use "../../styles/abstracts" as *;

.wrapper {
  position: relative;
}

/* SELECT BOX */

.selector {
  @include flex(center, space-between);

  border: 1px solid $color-border;
  border-radius: $radius-md;
  padding: $space-2;

  background: $color-surface;
}

/* TAGS */

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: $space-1;
  flex: 1;

  input {
    border: none;
    outline: none;
    flex: 1;
    background: transparent;
    font-size: $font-sm;
  }
}

.tag {
  @include tag;

  display: flex;
  align-items: center;
  gap: 4px;

  button {
    background: none;
    border: none;
    cursor: pointer;
  }
}

/* DROPDOWN */

.dropdown {
  position: absolute;
  width: 100%;

  background: $color-surface;
  border: 1px solid $color-border;

  border-radius: $radius-md;
  margin-top: 4px;

  box-shadow: $shadow-md;
  z-index: 10;
}

/* OPTION */

.option {
  @include flex(center, space-between);

  padding: $space-2;
  cursor: pointer;

  &:hover {
    background: rgba($color-accent, 0.08);
  }
}

.active {
  background: rgba($color-accent, 0.12);
}

.highlight {
  background: rgba($color-accent, 0.08);
}