@use "../../styles/abstracts" as *;

.wrapper {
  position: relative;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: $space-1;

  padding: $space-2;

  border: 1px solid $color-border;
  border-radius: $radius-md;

  background: $color-surface;

  input {
    border: none;
    outline: none;
    flex: 1;
    background: transparent;
    font-size: $font-sm;
  }
}

.tag {
  @include tag;

  display: flex;
  align-items: center;
  gap: 4px;

  button {
    border: none;
    background: none;
    cursor: pointer;
  }
}

.dropdown {
  position: absolute;
  width: 100%;

  background: $color-surface;
  border: 1px solid $color-border;

  border-radius: $radius-md;
  margin-top: 4px;

  box-shadow: $shadow-md;

  div {
    padding: $space-2;
    cursor: pointer;

    &:hover {
      background: rgba($color-accent, 0.08);
    }
  }
}