@use "../../styles/mixin" as *;

/* ================= SIDEBAR ================= */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px;

  padding: 20px;

  background: rgba(15, 23, 42, 0.85);
  backdrop-filter: blur(16px);

  border-right: 1px solid rgba(255,255,255,0.05);

  z-index: 1000;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transition: transform 0.3s ease;
}

.collapsed {
  transform: translateX(-100%);
}

/* ================= LOGO ================= */

.logoArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  font-size: 18px;
  font-weight: 600;
  color: white;
}

.toggleBtn {
  background: none;
  border: none;
  color: #cbd5e1;
  font-size: 22px;
  cursor: pointer;
}

/* ================= MENU ================= */

.menu {
  width: 100%;
  margin-top: 30px;
}

/* ================= MENU ITEM ================= */

.menuItem {
  width: 100%;
  padding: 12px 14px;

  border-radius: 12px;

  display: flex;
  align-items: center;
  gap: 12px;

  cursor: pointer;
  transition: all 0.2s ease;

  color: #cbd5e1;

  &:hover {
    background: rgba(255,255,255,0.06);
    color: white;
  }
}

.icon {
  font-size: 18px;
}

.title {
  font-size: 14px;
}

/* ACTIVE ITEM */
.active {
  background: linear-gradient(135deg, #6366f1, #8b5cf6);
  color: white;

  box-shadow: 0 6px 18px rgba(99, 102, 241, 0.25);
}

/* ================= FOOTER ================= */

.footer {
  width: 100%;
}

/* LOGOUT */
.logout {
  padding: 12px;
  border-radius: 10px;

  display: flex;
  gap: 12px;
  align-items: center;

  cursor: pointer;
  color: #cbd5e1;

  transition: 0.2s;

  &:hover {
    background: rgba(255,255,255,0.06);
    color: #ef4444;
  }
}

/* ================= OVERLAY ================= */

.overlay {
  position: fixed;
  inset: 0;

  background: rgba(0, 0, 0, 0.5);

  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.showOverlay {
  opacity: 1;
  visibility: visible;
}

/* ================= MOBILE ================= */

@media (max-width: 900px) {
  .sidebar {
    transform: translateX(-100%);
  }

  .collapsed {
    transform: translateX(0);
  }
}