
*{
  margin: 0;
}

/* :root {
  --nav-bg: #ffffff;
  --nav-text: #111827;
  --dropdown-bg: #f9fafb;
}

[data-theme="dark"] {
  --nav-bg: #0f172a;
  --nav-text: #ffffff;
  --dropdown-bg: #1e293b;
} */